@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 3600px;
  background: #FFF;
  position: relative;
}

.navbar {
  max-width: 100%;
  min-height: 154px;
  padding: 0;
  flex-shrink: 0;
  overflow: hidden;
}
.navbar .rectangle {
  min-width: 100%;
  height: 72px;
  flex-shrink: 0;
  background-color: #19242D;
  overflow: hidden;
}
.navbar .rectangle:nth-child(2) {
  background-color: #202D39;
}
.navbar .rectangle:nth-child(3) {
  height: 11px;
  background-color: #008AEE;
}
.navbar .rectangle .line {
  width: 1px;
  height: 32px;
  background: #394957;
  border: 1px;
}
.navbar .rectangle .frame-76 {
  width: 1200px;
  height: 42px;
  flex-shrink: 0;
}
.navbar .rectangle .frame-76 .frame-151 {
  gap: 25px;
}
.navbar .rectangle .frame-76 .frame-151 .frame-152 {
  display: flex;
  gap: 20px;
}
.navbar .rectangle .frame-76 .frame-151 .frame-152 .group-362 {
  color: #DC5426;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  opacity: 0.6;
}
.navbar .rectangle .frame-76 .frame-151 .frame-152 .group-362::after {
  content: "CARS";
  opacity: 0.6;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.navbar .rectangle .frame-76 .frame-151 .frame-152 .group-363 {
  color: #E59D48;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  opacity: 0.6;
}
.navbar .rectangle .frame-76 .frame-151 .frame-152 .group-363::after {
  content: "ОБЯВИ";
  opacity: 0.6;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.navbar .rectangle .frame-2 {
  display: flex;
  height: 32px;
  padding: 5px 0;
  gap: 20px;
  border-radius: 25px;
}
.navbar .rectangle .frame-2 .group-16 {
  height: 32px;
  gap: 15px;
  border-radius: 6px;
}
.navbar .rectangle .frame-2 .frame-2-1 {
  gap: 10px;
}
.navbar .rectangle .frame-2 .frame-2-1 .login {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar .rectangle .frame-2 .group-9 {
  width: 143px;
  height: 24px;
  row-gap: 5px;
}
.navbar .rectangle .frame-2 .group-9 .number {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar .rectangle .frame-77 {
  max-width: 1200px;
  min-height: 32px;
  gap: 20px;
  flex-shrink: 0;
}
.navbar .rectangle .frame-77 .text {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar .rectangle .frame-77 .frame-2-2 {
  max-width: 110%;
  height: 32px;
  gap: 8px;
  flex-shrink: 0;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-1 {
  padding: 9px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #008AEE;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-6 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background-color: #008AEE;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-2-3 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #5FB865;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-4 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #63C7C9;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-86 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #DC5426;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-87 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #E59D48;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-5 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #BD5FE9;
}
.navbar .rectangle .frame-77 .frame-2-2 .frame-83 {
  padding: 5px 15px;
  gap: 10px;
  border-radius: 25px;
  border: 1.5px solid #DC5426;
}
.navbar .rectangle .frame-77::before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 60px;
  right: -240px;
  width: 396px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 16%, rgb(32, 45, 57) 40%);
}
.navbar .rectangle .btn {
  z-index: 2;
  top: 50%;
  right: 5.6%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  background: #202D39;
  border: none;
}
.navbar .rectangle .svg-pointer {
  bottom: -50%;
  left: 0.95%;
  transform: translateY(50%);
  z-index: 1;
}
.navbar .rectangle .hamburger-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.searching-bar {
  max-width: 100%;
  height: 264px;
  padding: 25px 10px;
  gap: 10px;
  flex-shrink: 0;
  background: #008AEE;
  overflow: hidden;
}
.searching-bar .bar {
  width: 1200px;
  height: 100%;
  padding: 20px 25px;
  gap: 25px;
  border-radius: 25px;
  background: #FEFEFE;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.searching-bar .bar .header {
  width: 100%;
  gap: 15px;
}
.searching-bar .bar .header .frame-10 {
  padding: 8px 0px;
  gap: 10px;
}
.searching-bar .bar .header .frame-10 svg {
  width: 18px;
  height: 18px;
  stroke-width: 4px;
  stroke: #19242D;
}
.searching-bar .bar .header .text {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.searching-bar .bar .text-search .frame-14 {
  padding: 16px 25px 16px 25px;
  gap: 10px;
  border-radius: 25px;
  border: 1px solid #008AEE;
}
.searching-bar .bar .text-search .frame-14 .input {
  width: 900px;
  height: 20px;
  border: none;
  outline: none;
}
.searching-bar .bar .text-search .menu {
  display: none;
}
.searching-bar .bar .text-search .btn {
  padding: 12.5px 30px;
  border-radius: 25px;
  background-color: #008AEE;
  color: #FEFEFE;
  font-family: "Exo", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.searching-bar .bar .filters {
  display: flex;
  gap: 10px;
}
.searching-bar .bar .filters .btn {
  padding: 6px 22px;
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 25px;
}
.searching-bar .bar .filters .all-btn {
  background: #008AEE;
  color: #FEFEFE;
}
.searching-bar .bar .filters .car-parts-btn {
  border: 1.5px solid #008AEE;
}
.searching-bar .bar .filters .parts-market-btn {
  border: 1.5px solid #5FB865;
}
.searching-bar .bar .filters .car-market-btn {
  border: 1.5px solid #63C7C9;
}
.searching-bar .bar .filters .sell-car-btn {
  border: 1.5px solid #DC5426;
}
.searching-bar .bar .filters .sell-parts-btn {
  border: 1.5px solid #E59D48;
}

.banner-slider {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 225px;
  flex-shrink: 0;
  background: url("Rectangle_100.png") no-repeat;
  background-size: cover;
}
.banner-slider svg {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  fill: #008AEE;
  font-size: 20px;
}

.highlights-main {
  display: flex;
  margin-top: 25px;
  max-width: 100%;
  min-height: 56px;
  gap: 90px;
  flex-shrink: 0;
}
.highlights-main .frame {
  gap: 15px;
}
.highlights-main .frame .frame-28 {
  gap: 7px;
}
.highlights-main .frame .frame-28 p {
  margin: 0;
}
.highlights-main .text-1 {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.highlights-main .text-2 {
  color: #777;
  font-family: "Exo", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.parts {
  max-width: 100%;
  min-height: 271px;
  margin-top: 30px;
  flex-shrink: 0;
  gap: 30px;
  overflow: hidden;
}
.parts .frame-154 {
  width: 271px;
  height: 271px;
  padding: 25px 15px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #008AEE;
  background: #008AEE;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.parts .frame-154 .frame-155 {
  gap: 5px;
}
.parts .frame-154 .frame-155 .text-title {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts .frame-154 .text {
  color: #EDEDED;
  text-align: center;
  font-family: "Exo", stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.parts .frame-154 .text p {
  padding: 0;
  margin: 0;
}
.parts .frame-154 .frame-156 {
  padding: 6px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #FFF;
  color: #008AEE;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts .spec-parts {
  width: 850px;
  height: 100%;
  gap: 5px;
  overflow: hidden;
}
.parts .spec-parts .spec-text {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts .spec-parts .parts-ul {
  max-width: 900px;
  margin-bottom: 0;
  gap: 32px;
  overflow: hidden;
}
.parts .spec-parts .parts-ul li {
  list-style-type: none;
}
.parts .spec-parts .parts-ul li img {
  width: 271px;
  height: 179.538px;
}
.parts .spec-parts .parts-ul li .frame-158 .text-1 {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 14.608px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.parts .spec-parts .parts-ul li .frame-158 .text-1 p {
  margin-bottom: 0px;
}
.parts .spec-parts .parts-ul li .frame-158 .frame-159 .serial-number {
  color: #999;
  font-family: "Roboto";
  font-size: 12.521px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.parts .spec-parts .parts-ul li .frame-158 .frame-159 .price {
  color: #5FB865;
  text-align: right;
  font-family: Exo 2;
  font-size: 18.782px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts .fade-btn {
  top: 23px;
  right: 0;
  width: 200px;
  height: 250px;
  flex-shrink: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 85%);
}

.parts-2 {
  max-width: 100%;
  min-height: 278px;
  margin-top: 30px;
  flex-shrink: 0;
  gap: 20px;
}
.parts-2 .frame-154 {
  width: 271px;
  height: 271px;
  padding: 25px 15px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #5FB865;
  background: #5FB865;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.parts-2 .frame-154 .frame-155 {
  gap: 5px;
}
.parts-2 .frame-154 .frame-155 .text-title {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts-2 .frame-154 .text {
  color: #EDEDED;
  text-align: center;
  font-family: "Exo", stretch;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.parts-2 .frame-154 .text p {
  padding: 0;
  margin: 0;
}
.parts-2 .frame-154 .frame-156 {
  padding: 6px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #FFF;
  color: #5FB865;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts-2 .spec-parts {
  height: 100%;
  gap: 15px;
  overflow: hidden;
}
.parts-2 .spec-parts .spec-text {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts-2 .spec-parts .spec-text p {
  margin-bottom: 0px;
}
.parts-2 .spec-parts .parts-ul {
  width: 855px;
  margin-bottom: 0;
  gap: 20px;
  overflow: hidden;
}
.parts-2 .spec-parts .parts-ul li {
  list-style-type: none;
  gap: 5px;
}
.parts-2 .spec-parts .parts-ul li .frame-158 .text-1 {
  color: #19242D;
  font-family: "Exo", sans-serif;
  font-size: 14.608px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.parts-2 .spec-parts .parts-ul li .frame-158 .text-1 p {
  margin-bottom: 0px;
}
.parts-2 .spec-parts .parts-ul li .frame-158 .text-1 .sell::before {
  content: "КУПУВАМ ";
  color: #5FB865;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.parts-2 .spec-parts .parts-ul li .frame-158 .text-1 .offer::before {
  content: "ОФЕРТА ЗА ";
  color: #008AEE;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.serveces-row-1 {
  width: 100%;
  margin-top: 81px;
  gap: 32px;
}
.serveces-row-1 .box {
  width: 271px;
  height: 271px;
  padding: 25px 15px;
  border-radius: 25px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-1 .frame-155 {
  gap: 5px;
}
.serveces-row-1 .frame-155 .text-title {
  color: #FFF;
  font-family: "Exo", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.serveces-row-1 .text {
  color: #EDEDED;
  text-align: center;
  font-family: "Exo" 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.serveces-row-1 .text p {
  padding: 0;
  margin: 0;
}
.serveces-row-1 .frame-156 {
  padding: 6px 15px;
  gap: 10px;
  border-radius: 25px;
  background: #FFF;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.serveces-row-1 .car-market {
  background: #63C7C9;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-1 .car-market .frame-156 {
  color: #63C7C9;
}
.serveces-row-1 .sell-cars {
  background: #DC5426;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-1 .sell-cars .frame-156 {
  color: #DC5426;
}
.serveces-row-1 .sell-parts {
  background: #E59D48;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-1 .sell-parts .frame-156 {
  color: #E59D48;
}
.serveces-row-1 .games {
  background: #BD5FE9;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-1 .games .frame-156 {
  color: #BD5FE9;
}

.serveces-row-2 {
  width: 100%;
  margin-top: 32px;
  gap: 32px;
}
.serveces-row-2 .small-box {
  width: 271px;
  padding: 15px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.serveces-row-2 .small-box .frame-168 {
  gap: 10px;
}
.serveces-row-2 .small-box .frame-168 .text-title {
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.serveces-row-2 .small-box .text-small {
  color: #999;
  text-align: center;
  font-family: "Exo" 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.serveces-row-2 .insurance {
  border: 2px solid #DC5426;
}
.serveces-row-2 .insurance .text-title {
  color: #DC5426;
}
.serveces-row-2 .loans {
  border: 2px solid #5FB865;
}
.serveces-row-2 .loans .text-title {
  color: #5FB865;
}
.serveces-row-2 .loans .text-small::before {
  content: "MEGA";
  font-family: "Roboto";
  align-self: stretch;
}
.serveces-row-2 .auto-diary {
  border: 2px solid #008AEE;
}
.serveces-row-2 .auto-diary .text-title {
  color: #008AEE;
}
.serveces-row-2 .news {
  border: 2px solid #0043EE;
}
.serveces-row-2 .news .text-title {
  color: #0043EE;
}

.opinions {
  max-width: 100%;
  margin-top: 80px;
  overflow: hidden;
}
.opinions .list-opinions {
  width: 1150px;
  height: 261px;
  list-style-type: none;
  margin: 0;
}
.opinions .list-opinions .right-1 {
  right: 0;
}
.opinions .list-opinions .right-2 {
  right: 10%;
}
.opinions .list-opinions .left-1 {
  left: 0;
}
.opinions .list-opinions .left-2 {
  left: 10%;
}
.opinions .list-opinions .opinion-1 {
  width: 350px;
  height: 154px;
  padding: 15px;
  flex-shrink: 0px;
  border-radius: 14.731px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.opinions .list-opinions .opinion-1 .frame-172 {
  height: auto;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinions .list-opinions .opinion-1 .frame-172 svg {
  width: 16.885px;
  height: 15.32px;
  flex-shrink: 0;
}
.opinions .list-opinions .opinion-1 .frame-172 .opin-text {
  color: #19242D;
  text-align: center;
  font-family: "Roboto";
  font-size: 9.428px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinions .list-opinions .opinion-1 .frame-171 {
  gap: 6px;
}
.opinions .list-opinions .opinion-1 .frame-171 .name {
  color: #008AEE;
  font-family: "Roboto";
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinions .list-opinions .opinion-1 .frame-171 .frame-355 {
  gap: 4px;
}
.opinions .list-opinions .opinion-2 {
  width: 450px;
  height: 197px;
  padding: 18.9px;
  flex-shrink: 0px;
  border-radius: 18.931px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.opinions .list-opinions .opinion-2 .frame-172 {
  height: auto;
  gap: 15px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinions .list-opinions .opinion-2 .frame-172 svg {
  width: 21.71px;
  height: 19.697px;
  flex-shrink: 0;
}
.opinions .list-opinions .opinion-2 .frame-172 .opin-text {
  color: #19242D;
  text-align: center;
  font-family: "Roboto";
  font-size: 12.121px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinions .list-opinions .opinion-2 .frame-171 {
  gap: 7.5px;
}
.opinions .list-opinions .opinion-2 .frame-171 .name {
  color: #008AEE;
  font-family: "Roboto";
  font-size: 12.121px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinions .list-opinions .opinion-2 .frame-171 .frame-355 {
  gap: 4px;
}
.opinions .list-opinions .opinion-3 {
  width: 594px;
  height: 261px;
  padding: 25px;
  flex-shrink: 0px;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 3;
}
.opinions .list-opinions .opinion-3 .frame-172 {
  height: auto;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}
.opinions .list-opinions .opinion-3 .frame-172 svg {
  width: 28.657px;
  height: 26px;
  flex-shrink: 0;
}
.opinions .list-opinions .opinion-3 .frame-172 .opin-text {
  color: #19242D;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}
.opinions .list-opinions .opinion-3 .frame-171 {
  gap: 10px;
}
.opinions .list-opinions .opinion-3 .frame-171 .name {
  color: #008AEE;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.opinions .list-opinions .opinion-3 .frame-171 .frame-355 {
  gap: 4px;
}
.opinions .left-btn {
  flex-shrink: 0;
  fill: #008AEE;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  z-index: 4;
  left: 30%;
  transform: translateY(-50%);
  cursor: pointer;
}
.opinions .right-btn {
  flex-shrink: 0;
  fill: #008AEE;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  z-index: 4;
  right: 30%;
  transform: translateY(-50%);
  cursor: pointer;
}

.map {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.map .vector {
  width: 1179px;
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 16/9;
}
.map .pin1 {
  top: 32%;
  left: 9.27%;
  position: absolute;
  width: 327px;
  flex-shrink: 0;
  text-align: left;
}
.map .pin1 img {
  height: 100px;
}
.map .pin2 {
  top: 17%;
  right: 6.9%;
  position: absolute;
  width: 327px;
  flex-shrink: 0;
  text-align: end;
}
.map .pin2 img {
  height: 100px;
}

footer {
  width: 100%;
  min-height: 300px;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
  background-color: #202D39;
}
footer .footer-box {
  max-width: 100%;
  gap: 32px;
}
footer .footer-box .text-title {
  font-size: 16px;
  font-weight: 700;
}
footer .footer-box .text {
  font-size: 14px;
  font-weight: 500;
}
footer .footer-box .mega::after {
  content: "MEGAPARTS";
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footer-box .box {
  border-radius: 10px;
  background: #19242D;
}
footer .footer-box .useful-info {
  width: 271px;
  max-height: 230px;
  gap: 10px;
  flex-shrink: 0;
}
footer .footer-box .useful-info .frame-357 {
  width: 100%;
  height: 165px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  background: #19242D;
}
footer .footer-box .useful-info .frame-357 .frame-358-1 {
  gap: 15px;
  color: #FFF;
  font-family: "Exo" 2;
  font-style: normal;
  line-height: normal;
}
footer .footer-box .useful-info .frame-358-2 {
  width: 100%;
  padding: 15px;
  gap: 10px;
}
footer .footer-box .useful-info .frame-358-2 .frame-358-3 {
  gap: 15px;
  color: #5FB865;
  font-family: "Exo" 2;
  font-style: normal;
  line-height: normal;
}
footer .footer-box .online-shop {
  width: 271px;
  height: 230px;
  padding: 15px;
  gap: 10px;
}
footer .footer-box .online-shop .frame-358-4 {
  gap: 15px;
  color: #FFF;
  font-family: "Exo" 2;
  font-style: normal;
  line-height: normal;
}
footer .footer-box .online-shop .frame-93 {
  gap: 5px;
  color: #FEFEFE;
  font-family: "Exo" 2;
  font-style: normal;
  line-height: normal;
}
footer .footer-box .about-us {
  width: 271px;
  height: 230px;
  padding: 15px;
  gap: 10px;
  flex-shrink: 0;
}
footer .footer-box .about-us .frame-358-5 {
  gap: 15px;
  color: #FFF;
  font-family: "Exo" 2;
  font-style: normal;
  line-height: normal;
}
footer .footer-box .megaparts {
  max-width: 271px;
  height: 230px;
  padding: 25px;
}
footer .footer-box .megaparts .frame-358-6 {
  gap: -9px;
}
footer .footer-box .megaparts .frame-358-6 .frame-95 {
  height: auto;
}
footer .footer-box .megaparts .frame-358-6 .text-shadow {
  width: 100%;
  height: 23px;
  color: #999;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footer-box .megaparts .frame-364 {
  gap: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    height: 5550px;
  }
  .searching-bar {
    height: 215px;
  }
  .searching-bar .bar {
    width: 380px;
    height: 150px;
  }
  .searching-bar .bar .text-search .frame-14 {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  .searching-bar .bar .text-search .frame-14 .input {
    width: 150px;
    font-size: 11px;
  }
  .searching-bar .bar .text-search .menu {
    display: flex;
  }
  .searching-bar .bar .text-search .menu svg {
    width: 20px;
    height: 20px;
  }
  .searching-bar .bar .text-search .btn {
    font-size: 17px;
    padding: 6px 15px 6px 15px;
  }
  .searching-bar .bar .filters {
    display: none;
  }
  .navbar .rectangle .frame-76 {
    width: 360px;
  }
  .navbar .rectangle .frame-76 .frame-151 svg {
    width: 160.859px;
    height: 26.155px;
  }
  .navbar .rectangle .frame-76 .frame-151 .line {
    display: none;
  }
  .navbar .rectangle .frame-76 .frame-151 .frame-152 {
    display: none;
  }
  .navbar .rectangle .frame-2 {
    display: none;
  }
  .navbar .rectangle .hamburger-menu {
    width: 23.4px;
    height: 18px;
  }
  .opinions .list-opinions {
    width: 700px;
  }
  .opinions .list-opinions .opinion-3 {
    width: 400px;
  }
  .opinions .list-opinions .opinion-2 {
    width: 250px;
  }
  .opinions .list-opinions .opinion-1 {
    width: 150px;
  }
  .opinions .left-btn {
    left: 2%;
  }
  .opinions .right-btn {
    right: 2%;
  }
  .map .vector {
    width: 300px;
  }
  .map .pin1, .map .pin2 {
    width: 150px;
  }
  .map .pin1 img, .map .pin2 img {
    height: 40px;
  }
  .map .pin1 {
    top: 25%;
    left: 5.4%;
  }
  .map .pin2 {
    top: 9.7%;
    right: 4.6%;
  }
  .highlights-main {
    padding: 0 20px;
    display: block;
    justify-content: start;
  }
  .highlights:nth-child(2n) {
    padding: 23px 0;
    justify-content: end;
    align-items: flex-start;
  }
  .highlights:nth-child(2n) .frame svg {
    order: 1;
  }
  .highlights:nth-child(2n) .frame .frame-28 {
    order: 0;
  }
  .highlights:nth-child(4) {
    padding-bottom: 0;
  }
  .parts-2 .spec-parts {
    order: 1;
    padding-left: 13px;
  }
  .parts-2 .frame-154 {
    order: 0;
  }
  .footer-box {
    padding-top: 50px;
  }
  .banner-slider {
    padding-top: 80px;
  }
}
/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    height: 4500px;
  }
  .navbar .rectangle .frame-76 {
    width: 750px;
  }
  .navbar .rectangle .frame-2 {
    display: none;
  }
  .map .vector {
    width: 500px;
  }
  .map .pin1, .map .pin2 {
    width: 132px;
  }
  .map .pin1 img, .map .pin2 img {
    height: 40px;
  }
  .highlights-main {
    gap: 23px;
  }
  .parts-2 .spec-parts {
    order: 1;
  }
  .parts-2 .frame-154 {
    order: 0;
  }
  .footer-box {
    padding: 50px 0;
  }
  .banner-slider {
    padding-top: 150px;
  }
  .searching-bar .bar {
    width: 770px;
  }
  .searching-bar .bar .text-search .frame-14 {
    padding: 1rem 1rem 1rem 2rem;
  }
  .searching-bar .bar .text-search .frame-14 .input {
    width: 430px;
  }
  .searching-bar .bar .text-search .menu {
    display: flex;
  }
  .searching-bar .bar .text-search .menu svg {
    width: 30px;
    height: 30px;
  }
  .searching-bar .bar .filters {
    display: none;
  }
}
/* Desktop Styles */
@media (min-width: 1200px) {
  .navbar .rectangle .hamburger-menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */